/* (A) VARS */
:root {
  --color-black: #333;
  --color-grey: #dfdfdf;
  --color-white: #fff;
  --color-red: #c51212;
  --color-green: #04836b;
  --color-blue: #063cb7;
  --color-yellow: #fbffc0;
  --color-bg-page: #e8f0f7;
  --color-bg-head: #1671e1;
}

/* (B) GOOGLE MATERIAL ICONS - https://fonts.google.com/icons */
@font-face{font-family:"Material Icons";src:url(maticon.woff2) format("woff2")}
.mi{font-family:"Material Icons";font-weight:400;font-style:normal;text-decoration:none;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}

/* (C) GLOBAL */
html, body {
  max-width: 1000px;
  margin: 0 auto; padding: 0;
  background: var(--color-bg-page);
}
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
div.error {
  margin: 5px; padding: 5px;
  color: var(--color-white);
  background: var(--color-red);
}
.ninja { display: none; }

/* (D) FORM */
/* (D1) BUTTONS */
.btn-ico, .btn-ico-grey, .btn-red, .btn-green, .btn-blue {
  border: 0; padding: 10px;
  cursor: pointer;
  color: var(--color-white);
}
.btn-red, .btn-green, .btn-blue { font-size: 1.1em; }
.btn-ico, .btn-ico-grey { background: 0; font-size: 2em; }
.btn-ico-grey { color: var(--color-grey); }
.btn-red { background: var(--color-red); }
.btn-green { background: var(--color-green); }
.btn-blue { background: var(--color-blue); }

/* (D2) FORM FIELDS */
.form-field {
  font-size: 1.1em;
  display: block;
  width: 100%;
  padding: 10px;
}

/* (E) DIALOG */
#cb-info {
  position: fixed; top: 50%; left: 50%; z-index: 999;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: var(--color-white);
  transition: opacity 0.4s;
  visibility: hidden; opacity: 0
}
#cb-info.ok, #cb-info.no {
  visibility: visible; opacity: 1;
}
#cb-info.ok { background: var(--color-blue); }
#cb-info.no { background: var(--color-red); }
#cb-info-ico { font-size: 3em; }

/* (F) THIS APP */
/* (F1) SHARED */
.cb-head { padding: 10px 20px; }
.cb-body, .cb-form { padding: 20px; }

/* (F2) HEADER */
.cb-head {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background: var(--color-bg-head);
}
.cb-head-title {
  flex-grow: 1;
  margin: 0;
  font-size: 1.7em;
}

/* (F3) CALENDAR */
#cal-date select {
  padding: 10px;
  border: 0;
  font-size: 1.5em;
}
#cal-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}
.cal-table-head td {
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 5px;
  text-align: center;
  color: var(--color-white);
  background: var(--color-red);
}
.cal-table-day td {
  border: 1px solid #efefef;
  background: var(--color-white);
  width: 14.28%;
  padding: 20px 5px;
  vertical-align: top;
}
#cal-table .blank { background: var(--color-grey); }
#cal-table .today { background: var(--color-yellow); }
#cal-table .dd { color: var(--color-black); }
#cal-table .evt {
  font-size: 14px;
  margin: 5px 0; padding: 5px;
  max-height: 50px;
  overflow: hidden;
  cursor: pointer;
}

/* (F4) ADD/EDIT EVENT */
#cal-e-txt {
  min-height: 80px;
  resize: none;
}
#cal-e-color { min-height: 50px; }
#cal-save { margin-top: 30px; }
